SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

NEON_DB_NAME=
NEON_DB_USER=
NEON_DB_PASSWORD=
NEON_DB_HOST=
NEON_DB_PORT=

AXIOM_ENGINE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

# Comma-separated list of allowed CORS origins. Example:
# CORS_ALLOWED_ORIGINS=https://yourfrontend.com,http://localhost:4200
CORS_ALLOWED_ORIGINS=

# Python logging level. Options: DEBUG, INFO, WARNING, ERROR, CRITICAL.
LOG_LEVEL=INFO

# Set True to redirect all HTTP to HTTPS in production.
SECURE_SSL_REDIRECT=False
